@media (max-width: 410px){
    .america img{
        height: 60% !important;
    }
    .redes img{
        width: 20px !important;
        height: 20px !important;
        margin-top: 4px !important;
    }
    .date{
        font-size: 35%
    }
    .toggle-btn {
        width: 8px;
        height: 8px
    }
    .news h2{
        font-size: 12px;
    }
    .news p{
        font-size: 8px
    }
    .btn-neutral {
        font-size: 2px !important;
        margin-top: 0px
    }
    .nav-footer li,.nav-footer li a{
        padding:1px;
        font-size: 6px;
    }
    .rights{
        font-size: 3px;        
    }
    .logos img{
        width: 20%;
    }

    .redes{
        margin-top: 10px;
    }

    .readMore a{
    margin-left: 5px;
    padding-left:  5px;
    padding-right: 5px;
    }

    .information{
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width: 520px){
    .america img{
        height: 80% !important;
        margin-top:-3px;
    }
    .redes img{
        width: 35px;
        height: 35px;
        margin-top: 7px
    }
    .date{
        font-size: 80% !important
    }
    .toggle-btn{
        width: 15px;
        height: 15px
    }
    .news h2{
        margin-top: 8px;
        font-size: 18px;
    }
    .news p{
        margin-top: -5px;
        font-size: 10px
    }
    .btn-neutral{
        font-size: 11px !important;
        margin-top: 0px
    }
    .nav-footer li,.nav-footer li a{
        padding:4px;
        font-size: 13px;
    }
    .rights{
        font-size: 12px;        
    }
    .logos img{
        width: 70%;
    }    
}


@media (min-width: 768px){
    .nav-bar{
        height:60px
    }

    .america img{
        height: 140% !important;
        margin-top:-4px;
    }
    .redes img{
        width: 50px;
        height: 50px;
        margin-top: 9px
    }
    .date{
        font-size: 140% !important
    }
    .toggle-btn {
        width: 35px;
        height: 35px
    }
    .news h2{
        margin-top: 10px;
        font-size: 40px;
    }
    .news p{
        margin-top: -7px;
        font-size: 20px
    }
    .btn-neutral{
        font-size: 25px !important;
        margin-top: -7px
    }
    .navbar-toggle {
        display: inline-block;
    }
    .collapse{
        display: none
    }
    .navbar-header{
        width: 100%
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.in {
        overflow-y: visible;
    }

    /* Codigo de sebastian*/
    .img-table-responsive{
        height: 400px;
        width: 85%;
        margin: auto;
    }

    .line-news-responsive{
        width: 85%;
        margin: auto;
    }
}

